@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


html, body{
    min-height: 100vh;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    padding: 70px;
    text-align: center;
    font-style: bold;
    margin-bottom: 20px;
    font-family: "Passion One", sans-serif;
    font-variant: small-caps;
}

header h1{
    font-weight: bold;
    font-size: 5rem;
}

header > p{
    font-family: "Passion One", sans-serif;
}

header p a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

p a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section p{
    font-family: 'Sriracha', cursive;
    font-size: 1.8rem;
    line-height: 2.3em;
    padding: 30px;
    font-size: 3.3vw;
    padding-bottom: 2em;
}

section.images{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 40px;
    box-shadow: inset 6px 6px 20px 0px rgba(0, 0, 0, 0.404);
}

section#image01{
    background-image: url('imagens/background001.jpg');
}

section#image02{
    background-image: url('imagens/background002.jpg');
}

section.images  p{
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 1px black;
}
















footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



